<p>
Name: <%= @hunter.name%><br>
Quote: <%= @hunter.quote%><br>
Planet: <%= @hunter.planet%><br>
Species: <%= @hunter.species%><br>
<%= button_to 'Delete Yourself', hunter_path(@hunter), method: :delete %>

</p>