<h1> Hunter stats:</h1>
<p>
Name: <%= @hunter.name%><br>
Quote: <%= @hunter.quote%><br>
Planet: <%= @hunter.planet%><br>
Species: <%= @hunter.species%><br>

<h5>This Hunter is feuding with:</h5>
<% @hunter.contracts.each do |feud| %>
<% feud.hunters.each do |huntername| %>
<% if @hunter.name != huntername.name %>
<%= huntername.name %><br>
<%end%>
<%end%>
<%end%>

</p>
<%= button_to 'Edit your profile', edit_hunter_path(@hunter), method: :get%> <br>
<%= button_to 'Delete Yourself', hunter_path(@hunter), method: :delete %><br>


