<h1> Hunter stats:</h1>
<p>
Name: <%= @hunter.name%><br>
Quote: <%= @hunter.quote%><br>
Planet: <%= @hunter.planet%><br>
Species: <%= @hunter.species%><br>
Number of contracts completed: <%= @hunter.contracts_completed%><br>
Number of contracts failed: <%= @hunter.contracts_failed%>

<h5>This Hunter is feuding with:</h5>
<% @hunter.contracts.uniq.each do |feud| %>
<% feud.hunters.uniq.each do |huntername| %>
<% if @hunter.name != huntername.name %>
<%= link_to huntername.name, hunter_path(huntername.id) %><br>
<%end%>
<%end%>
<%end%>

</p>
<%= button_to 'Edit your profile', edit_hunter_path(@hunter), method: :get%> <br>
<%= button_to 'Delete Yourself', hunter_path(@hunter), method: :delete %><br>


