<h1> Bounty Sign </h1>
<%= form_for @hunter_contract do |f| %>
<%= f.label "Select who is signing for this bounty"%>
<%= f.collection_select :hunter_id, Hunter.all, :id, :name %>
<%= f.label "Select the bounty to accept"%>
<%= f.collection_select :contract_id, Contract.all, :id, :bounty_info %>
<%= f.submit %>
<%end%>
