<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsBounty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet"> %>
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
  </head>

  <body>
    <ul>
        <li><%= link_to 'Bounty List', contracts_path %></li>
        <li><%= link_to 'Bounty Activity', root_path %></li>
        <% if @logged_in_hunter %>
        <li><%= link_to 'Log-Out', logout_path, :method => 'delete' %></li>
        <li>Welcome, <%= link_to @logged_in_hunter.name, hunter_path(@logged_in_hunter.id) %></li>
        <%# link_to huntername.name, hunter_path(huntername.id) %>
        <%else%>
        <li><%= link_to 'Sign-Up', new_hunter_path %></li>
        <li><%= link_to 'Log-In', login_path %></li>
        <%end%>
    </ul>
    <%= yield %>
  </body>
</html>
