<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsBounty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
        <li><%= link_to 'Bounty List', contracts_path %></li>
        <li><%= link_to 'Bounty Activity', root_path %></li>
        <% if @logged_in_hunter %>
        <li><%= link_to 'Log-Out', new_hunter_path %></li>
        <li>Welcome, <%= @logged_in_hunter.name %></li>
        <%else%>
        <li><%= link_to 'Sign-Up', new_hunter_path %></li>
        <li><%= link_to 'Log-In', login_path %></li>
        <%end%>
    </ul>
    <%= yield %>
  </body>
</html>
