<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsBounty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet"> %>
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
  </head>

  <body>
    <ul>
        <li><%= link_to 'User Home', root_path %></li>
        <%# <li><%= link_to 'Movie Home', movies_path </li> %>
        <%# <li><%= link_to 'New Movie', new_movie_path </li> %>
    </ul>
    <%= yield %>
  </body>
</html>
